/* your beautiful css styling goes here! */
.shuriken {
  transform-origin: 50% 50% 0;
  -webkit-animation: spin .5s infinite linear;
}

@-webkit-keyframes spin{
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
